*{
	font-family: arial "微软雅黑";
}
.bd{
	background: #fbf7fd;
}
.weui_cells_title{
	color: #888;
	font-size: 14px;
}
.weui_cells_title:first-child{
	margin-top: 0;
	padding-top: 0.77em;
}
.weui_cells_form .weui_cell_hd .weui_label{
	color: #000;
	font-size: 17px;
	min-width: 5em;
}
.weui_cells_form input{
	color: #888;
	font-size: 17px;
}
.weui_select{
	padding-left: 0;
	margin-left: 0;
	font-size: 17px;
	color: #888;
}
.weui_select1{
	color: #000;
}
.weui_cell_warn .weui_cell_hd .weui_label{
	color: #E64340;
}
.mtn{
	margin-top: 0;
}
.btn:before{
	border-top: none;
}
.serve{
	margin: 100px 30px 0 30px;
	padding-bottom: 30px;
}
